/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/* STYLE */

body {
    font : 14px/28px arial, sans-serif;
    color: #333;
    background-color: rgb(241, 241, 241);
}

/* container */
.container {
    margin: auto;
    width: 900px;
    padding: 10px;
    background-color: white;
}
/* header */
.header {
    padding: 15px;
    background-color: crimson;
    color: white;
}

.header h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* nav */
.nav {
    padding: 2px 15px;
    background-color: darkorange;
}

.nav ul li {
    display: inline-block;
    /* padding: 3px 20px; */
}

.nav ul li a {
    font-weight: bold;
    color: white;
    padding: 3px 20px;
    text-decoration: none;
}

.nav ul li a:hover {
    background-color: rgb(218, 121, 2);
}

/* hero */
.hero {
    height: 300px;
    background-image: url('img/menu.jpg');
    background-size: cover;
    background-position-y: -591px;
    margin-bottom: 10px;
}

/* content */
.cont {
    float: left;
}

div.scon {
    border: 1px solid rgb(211, 211, 211);
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

div.pemesanan {
    border: 1px solid rgb(211, 211, 211);
    width: 235px;
    margin-right: 5px;
}

.pemesanan h2 {
    background-color: crimson;
    padding: 5px 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
.pemesanan p {
    line-height: normal;
    margin-bottom: 20px;
}

button.btn-pesan {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 0;
    width: 50%;
    border-radius: 3px
}

/* Main */
div.main {
    width: 420px;
    margin-right: 5px;
}
div.main h1 {
    font-size: 20px;
    color: crimson;
    text-align: center;
    font-weight: bold;
    margin-bottom: -5px;
}

.main .create {
    text-align: right;
    font-size: 12px;
}
.main .menu {
    margin-top: 15px;
    background-image: url('img/menu.jpg');
    background-size: cover;
    height: 300px;
    background-position-y: -200px;
}
.main .btn-more {
    background-color: darkorange;
    color: white;
    border: none;
    padding: 5px 0;
    width: 40%;
    border-radius: 3px;
}

/* JADWAL */
div.jadwal {
    border: 1px solid rgb(211, 211, 211);
    width: 235px;
}

.jadwal h2 {
    background-color: crimson;
    padding: 5px 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
.jadwal p {
    line-height: normal;
    margin-bottom: 5px;
}

.jadwal .menu-jadwal {
    height: 150px;
    background-image: url('img/menu.jpg');
    background-size: cover;
    background-position-y: -144px;
    margin-bottom : 10px;
}
.jadwal h3 {
    font-weight: bold;
    text-align: center;
}
.jadwal p {
    text-align: center;
}

/* berita */
.scon.berita h2{
    background-color: crimson;
    padding: 5px 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.berita ul li {
    display: block;
    border-bottom: 1px solid rgb(211, 211, 211);
    margin-bottom: 10px;
    margin-top: 13px;
}

/* footer */
.footer {
    margin-top: 20px;
    background-color: crimson;
    width: 100%;
    padding: 8px 0;
}

.footer p {
    text-align: center;
    color: white;
}